@using Chat.Web.Models
@model IndexPageModel
@{
    ViewBag.Title = "Chart Home Page";
}

<div class="mainform">
    @using (@Html.BeginForm("SendMessage", "Message", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.HiddenFor(m => m.UserId)
                    @Html.LabelFor(m => m.NewMessageText, new { @class = "col-md-2 control-label" })
                </div>

                <div class="col-md-7">
                    @Html.TextAreaFor(m => m.NewMessageText, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Send" class="btn-info"/>
                </div>
                <div class="col-md-1">
                    <a href="@Url.Action("Logoff","Account")" class="btn-link">Sign Out</a>
                </div>
            </div>
        </div>
        <div class="scrollbar-container">

            <div class="inner">
                @foreach (MessageModel message in Model.Messages)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 formMessage">
                                <div class="col-md-4">
                                    <label class="control-label">@message.CreateTime</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">@message.UserName</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label class="control-label">@message.MessageText</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
         </div>
    }
</div>